[Unit]
Description=Webhook Listener Service
After=network.target
[Service]
User=raul
ExecStart=/usr/bin/python3 /home/raul/webhook_listener.py
Restart=always
[Install]
WantedBy=multi-user.target
